.button {
    text-align: center;
    color: white;
    font-size: 16px; 

    box-sizing: border-box; 
    width: 90vw;
    height: 58px;

    background-color: #4D5DFA;
    border-style: none;
    box-shadow: 4px 8px 24px rgba(77, 93, 250, 0.25);
    border-radius: 100px;
} 

.button:active {
    background-color: #3f52ff;
}