.button {
    text-align: center;
    color: white;
    font-size: 16px; 

    box-sizing: border-box; 
    width: 90vw;
    height: 58px;

    background-color: #001D3D;
    border-radius: 15px;
    border-style: none;
    border-radius: 100px;
    margin: 24px 0;
}

.button:active {
    background-color: #002e5e;
}