.container {
    box-sizing: border-box  ;
    display: flex;
    flex-direction: column;
}

.selection {
    overflow: hidden;
    overflow-y: scroll;
    width: 90vw;
    margin-bottom: 25px;
    height: 400px;


    border: 3px solid #000000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    padding: 8px 0;
    gap: 8px;
}

    /* font-family: 'Inter';
    font-weight: 400;
    font-size: 16px; */

.label {
    display: block;
    box-sizing: border-box;
    margin: 12px 0 10px 0;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 16px;
}